<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration form </title>
</head>
<body>
    <form method = "POST" action = "/users">
        <fieldset>
            <legend>Personal Information</legend>
            <br><br><br>
            <div>Name : <input type = "text" name = "name" placeholder = "Enter Name" /></div><br><br><br>
            <div>Age : <input type = "number" name = "age" placeholder = "Enter Age" /></div><br><br><br>
        <fieldset>

        
        <button type = "submit">Save User</button>
    </form>
</body>
</html>